* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

#header {
    background-color: #f2f2f2;
    padding: 20px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

#header .logo {
    margin-right: auto;
}

#header #header-img {
    width: 150px;
}

#header #nav-bar {
    margin-left: auto;
}

#header #nav-bar ul {
    display: flex;
}

#header #nav-bar li {
    list-style: none;
    margin-right: 20px;
}

#header #nav-bar a {
    text-decoration: none;
    color: #333;
}

#first-section {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 50px 0;
}

#first-section h2 {
    margin-bottom: 30px;
}

#first-section #form {
    display: flex;
    justify-content: center;
}

#first-section #form input[type="email"] {
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    flex-grow: 1;
}

#first-section #form input[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#second-section {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    padding: 50px 0;
}


#second-section .grid {
    width: 100%;
    padding: 20px;
    text-align: center;
}


#second-section .grid .icon {
    font-size: 50px;
    margin-bottom: 20px;
}

#second-section .grid h2 {
    margin-bottom: 10px;
}


#videos {
    text-align: center;
    padding: 50px 0;
}

#videos iframe {
    width: 100%;
    max-width: 560px;
    height: 315px;
    margin: 0 auto;
}

#pricing {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 0;
}

#pricing .product {
    width: 33.33%;
    text-align: center;
}

#pricing h2 {
    margin-bottom: 20px;
}

footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

footer ul {
    display: flex;
    justify-content: center;
}

footer li {
    list-style: none;
    margin-right: 20px;
}

footer p {
    margin-top: 20px;
}
